._backgroundLight_ek3ui_2428._secondary_ek3ui_2449 {
    color: #1f084d !important;
    background-color: #eaedf2 !important;
}
.rd-button-background-light.rd-button-secondary.rd-button-size-m, .rd-button-background-light.rd-button-secondary.rd-button-size-s, .rd-button-background-light.rd-button-secondary.rd-button-size-xs:not(.rd-button-with-text) {
    color: #1f084d;
    background-color: #eaedf2;
}
