[data-testid="test-component"]{
    background:#ffffff !important;
}
[data-testid="sage-search-bar"]{
    box-shadow: none !important;    
    border: 1px solid #80b6ee !important;
    border-radius: 10px;
}
