[data-testid="test-component"]{
    background:#ffffff !important;
}
[data-testid="sage-search-bar"]{
    box-shadow: none !important;    
    border: 1px solid #80b6ee !important;
    border-radius: 10px;
}
.bk-pinboard-data-viz{
    box-shadow: none !important;
}
.rd-button{
    background: none !important;
    box-shadow: 0 0 5px #aaaaaa !important;
}
.bk-title{
    font-size:10px !important;
}
.bk-pinboard-data-viz .bk-pinboard-viz-header{
    -ms-flex-basis: none !important;
}
